body {
    background-color: #1D1D1D;
}

header {
    margin-left: 22%;
    margin-top: 5%;
}

header a {
    text-decoration: none;
}

.website_name {
    font-family: PT Astra Serif;
    font-size: 200%;
    color: #2682B4;
}

main  {
    width: 50%;
    margin-left: 22%;
    padding: 3%;
}

article {
    font-family: Amiri;
}

.post_title {
    font-size: 210%;
    color: #2682B4;
}

article p {
    font-size: 130%;
    line-height: 1.6;
    margin-bottom: 7%;
    color: #20B2AA;
}

footer {
    width: 50%;
    margin-left: 22%;
    /*background-color: #808080;*/
}

footer p {
    font-family: Amiri;
    font-size: 95%;
    text-align: right;
    color: #87CEEB;
}
